data/*
data
tests/__pycache__/test_lmdb.cpython-36-PYTEST.pyc
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
**/.snakemake/*
*/.snakemake/*
.DS_Store
*/.DS_Store/
.ipynb_checkpoints/*
.snakemake/*
logs/*
**/__pycache__/*
*/__pycache__/*
tests/__pycache__/*
pipelines/.snakemake/
kipoi_cadd/__pycache__/*
